#menu_tab{
    width : 1000px;
    height : 50px;
}
.left_menu_corner {
    width : 9px;
    height : 50px;
    float : left;
    background : url(../images/menu_left.gif) no-repeat center;
}
.right_menu_corner {
    width : 9px;
    height : 50px;
    float : left;
    background : url(../images/menu_right.gif) no-repeat center;
}
ul.menu {
    width : 982px;
    float : left;
    background : url(../images/menu_bg.gif) repeat-x ;
    display : block;
    list-style-type: none;
}
ul.menu li {
    display : inline;
    font-size: 11px;
    font-weight : bold;
    line-height : 50px;
}
ul.menu li.divider {
    display : inline;
    width : 2px;
    height : 50px;
    float : left;
    background : url(../images/menu_divider.gif) no-repeat center;
}
ul.menu li a,ul.menu li a:visited {
    display : block;
    float : left;
    padding : 0 8px 0 22px;
    margin : 0 14px;
    height : 50px;
    text-decoration : none;
    color : #47d77; 
}
#nav_home {
    background : url(../images/home.png) no-repeat left;
}
#nav_pro {
    background : url(../images/services.png) no-repeat left;
}
#nav_spec {
    background : url(../images/favs.png) no-repeat left;
}
#nav_acc {
    background : url(../images/user_add.png) no-repeat left;
}
#nav_sig {
    background : url(../images/user_add.png) no-repeat left;
}
#nav_ship{
    background : url(../images/car.png) no-repeat left;
}
#nav_cont{
    background : url(../images/contact-new.png) no-repeat left;
}
li.currencies {
    width : 180px;
    float : left;
    padding-left : 15px;
    color : #67d12;
    font-size : 11px;
    font-weight : bold;
}
